$sans-serif-article: 'Nunito', sans-serif;
$sans-serif-article-2: 'Varela Round', sans-serif;

$accent-color: #403b3f;
$accent-secondary: #1fda9a;
$accent-primary: #ee4b3e;
$accent-side: #f2f2f3;
$nav-height: 50px;

$light-gray: transparentize($base-font-color, .6);
